#message {
  width: 80%;
}
#messages-log {
  max-height: 19em;
  overflow: auto;
}
#messages-log .response {
  width: 80%;
  clear: both;
  background: #eee;
}
#messages-log .message {
  text-align: right;
  width: 80%;
  clear: both;
  background: #ddd;
  word-wrap: break-word;
}
#messages textarea {
  width: 100%;
}
#messages form {
  margin: 0;
}
#messages .send {
  margin-top: 20px;
  margin-left: 10%;
}
#messages .pull-left {
  width: 70%;
}
#messages .count {
  display: none;
  margin: 0;
}
#options {
  /* 
   * hide options/settings by default since it only is displayed after
   * processing query params 
   * */
  display: none;
}
#options [name=path] {
  width: 95%;
}
#menu {
  position: fixed;
  top: 40px;
  right: 20px;
  display: none; 
}
.container-fluid {
  padding-top: 40px;
}
.console {
  height: 250px;
  overflow: auto;
}
.schema_used {
  height: 400px;
  overflow: auto;
}

.forms .controls {
  margin-top: 10px;
}

.footer {
  margin: 40px auto;
  width: 10em;
  color: #999999;
  font-size: 13px;
  line-height: 18px;
}
.submit {
  margin-top: 10px;
  margin-bottom: -20px;
  text-align: center;
  clear: both;
}

@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
  #dashboard-topbar {
    z-index: 2000;
  }
  #menu {
    display: block;
  }
}
.show-settings #options {
  display: block;
}
.hide-topbar .container-fluid {
  padding-top: 20px;
}
.embed-mode #navigation {
  display: block;
}
.embed-mode  h2,
.embed-mode  #forms, 
.embed-mode #messages,
.embed-mode .footer-wrap {
  display: none;
}
